.classy-nav-container {
    background-color: white;
    padding: 0;
}
.classy-nav-container {
    position: fixed;
    z-index: 100;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    
}
.h-100 {
    height: 100%!important;
    margin-top: 4rem;
}
.btn-pink{
    background-color:#f16569;
    color:#000000;
}
.text-pink{
    color:#f16569;
}
span.h6{

    margin-left: -20%;
}
.breakpoint-on .classynav {
    padding: 70px 30px 0 30px;
}
.breakpoint-on .classynav>ul {
   
    line-height: 40px;
}
.classy-nav-container .classy-navbar .classynav ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    margin: .3rem;
}

.breakpoint-on .classynav>ul>li>a {
    background-color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color:#000;
}
.h3{
    font-size: 1.5rem !important;
}
.border-radius-10{
    border-radius: 10px 10px;
}
.single-service-area {
    padding: 20px 20px;
    border:none;
    background-color: #fff;
}
.bg-light-blue{
    background-color: #8bdcf511;
}
.img-circle{
    border-radius: 50%;
    
}

.form-control:focus{
    box-shadow:none;
}

.border-radius-50{
    border-radius: 50px;
}
.border-2{
    border:2px solid;
}
.border-black{
    border-color: #000;
}
.btn-primary{
    background-color: #02aff3;
}
.pl-10{
    padding-left: 15rem!important;
}
.pr-10{
    padding-right: 15rem!important;
}

.card-img-top{
    height: 28vh;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.owl-prev{
    left:-50px;
}
.owl-next{
    right:-50px;
}
.owl-prev, .owl-next{
    position: absolute;
    top:30px;
}
.owl-theme .owl-nav [class*=owl-]{
    background: transparent;
    color:black;
    font-size: 4rem;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: transparent;
    color:black;
}


.event-img{
    object-fit: cover;
    height: 60vh;
    width: 100%;
}
.event-img:hover{
    object-fit: fill;
}
.btn-gradient {
    background-image: linear-gradient(to right, #19adeb, #edbbbf);
  }
  .giving p{
    font-size: 1.6rem;
    color:#000;
    font-weight: 500;
  }
@media only screen and (min-width: 768px) and (max-width: 991px){
.classy-nav-container .classy-navbar .classynav ul li a {
    font-size: 23px;
}}

